
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #E6EAEA;
}

.navigation {
  margin-right: 40px;
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  margin-right: 36.89375px:
}

.navigation a {
  padding: 20px 50px;
  border: 3px solid #3A539B;
  margin-left: 4px;
  background-color:#3A539B;
  color: white;
  font-family: Verdana;
  text-decoration: none;
  transition: background 0.3s ease-in-out,
              border 0.3s ease-in-out,
              color 0.3s ease-in-out;

}

.navigation a:hover {
  background: linear-gradient(#3A539B, #2B818D);
}

#logo {
  height: 70px;
  float: left;
  padding: 25px 30px;
}

.core {
  height: 100vh;
}

.static_core  {
  width: 295.13px;
  border-right: 1px solid #E6EAEA;
  height: 100%;
}

 .brand_button {
  width: inherit;
  height: 70px;
  background-color: white;
  border: none;
  font-size: 16px;
  color: black;
  padding: 0;
  border: none;
  transition: background 0.3s ease-in-out,
              border 0.3s ease-in-out,
              color 0.3s ease-in-out;

}

.bactive, .active, .brand_button:hover {
  background: #f4f7f6;
}

.bactive {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.brand_model {
  display: none;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  height: 280px;
  flex: wrap;
  transform: translateX(-280px);
  transition: background 0.3s ease-in-out;
}
.brand {
  width: 295px;
  height: 70px;
  background-color:white;
  border-top: 1px solid #E6EAEA;
  font-size: 16px;
  color: white;
  color: black;
  border-bottom:none;
  border-left: none;
  border-right: none;
  transition: background 0.3s ease-in-out,
              border 0.3s ease-in-out,
              color 0.3s ease-in-out,
}
.brand:hover {
  background-color: #f4f7f6;
}

.repair_list {
display: none;
}

.brand_button:focus {
  outline:none;
}


.base {
  width: inherit + 1px;
  height: 100vh;
  border-top: 5px solid #2B818D;
}

.brand_model button {
  -webkit-transition: height 0.3s ease-in;
            -moz-transition: height 0.3s ease-in;
            -o-transition: height 0.3s ease-in;
            -ms-transition: height 0.3s ease-in;
            transition: height 0.3s ease-in;
}
